@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,100&display=swap');
/* http://creative-agency-template-20151.webflow.io/ */

* {
    padding: 0;
    margin: 0;
}



.navbar {}


.slider {

    height: 100%;
    width: 100%;
}

.slide-1 {
    width: 100%;
    /* background-color: blue; */
    max-width: 100%;
    white-space: normal;
    background-position: center;
    object-fit: cover;
}

.slide-1 img {
    background-size: cover;
    width: 100%;
    /* position:absolute; */
    height: 100vh;
    vertical-align: middle;
}

.slide-Container {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
    width: 100%;
    margin-right: 100px;
    text-align: right;
}

h1 {
    position: absolute;
    right: 14rem;
    bottom: 14rem;
}


.para1 {
    position: absolute;
    right: 14rem;
    bottom: 12rem;
    font-style: italic;
    font-weight: bold;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.secSection {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 5px;
}

.secSection-left {
    /* height: 100vh; */

}

.secSection-left img {
    height: 600px;
    width: 600px;

}

.secSection-right {
    /* right: 0; */
    display: flex;
    margin: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    height: 600px;
    width: 600px;
}

.secSection-right h4 {
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 5px;
}

.secSection-right h5 {
    font-size: 15px;
    font-style: italic;
}


.secSection-right p {
    width: 25rem;
    margin-top: 30px;
    line-height: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

.button {
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px 35px;
    font-size: 10px;
    color: black;
    font-size: 12px;
    text-align: center;
    letter-spacing: -1px;
}

.button:hover {
    background-color: #878787;
    border: 2px solid #878787;
    color: aliceblue;
}



.smallSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 63px;
    margin-bottom: 63px;
}


.smallSec h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 42px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -3px;
}

.smallSec h5 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: Vollkorn, serif;
    font-size: 16px;
    line-height: 22px;
    width: max-content;
    font-style: italic;
    font-weight: 200;
}


.domain {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap:15px;
    margin: 23px;
}




.branding {
    background-color: aqua;
    align-items: center;

}

.branding h2 {
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 42px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -3px;
}

.branding p {
    width: fit-content;
}

.branding img {
    height: 50px;
    width: 125px;
}



.web {
    background-color: blueviolet;

}

.web h2 {
    width: fit-content;
}

.web p {
    width: fit-content;
}


.web img {
    height: 50px;
    width: 125px;
}

.design {
    align-items: center;
    justify-content: center;
    /* width:500px;
    height: 300px; */
    background-color: antiquewhite;
}

.design h2{
    width: fit-content;
}

.design p{
    width: fit-content;
}
.design img {
    height: 50px;
    width: 125px;
}



.footer{
    width: 100%;
    height:250px;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.footer h6{
    color:#878787;
    padding-bottom: 10px;
}
.abcd img{
    height: 70px;
    width: 70px;
}

.menu{
    /* display : table-caption; */
    color: white;
    margin: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
   /* padding: 10px; */
   
}

.menu h6{
    margin-bottom: 25px;
}

.linkss{
    display : table-caption; 
}